<h1><strong>Books</strong></h1>

<% @books.each do |book| %>

<table>
  <thead>
    <tr valign="middle">
       <th width="180" height="18">Title</th>
       <th width="390" height="18">Body</th>
       <th colspan="3" width"143" height"18"></th>
    </tr>
  </thead>

  <tbody>
     <tr valign="middle">
       <td width="170" height="18"><%= book.title %></td>
       <td width="380" height="18"><%= book.body %></td>
       <td><%= link_to 'Show', book_path(book.id) %></td>
       <td><%= link_to 'Edit', book_edit_path(book.id) %></td>
       <td></td>
     </tr>
  </tbody>
</table>

<% end %>