<p class="show-text"><strong>Title:</strong> <%= @book.title %></p>

<p class="show-text"><strong>Body:</strong> <%= @book.body %></p>

<div class="show-link">
  <%= link_to "Edit", edit_book_path(@book.id), class: "link" %>
   |
  <a href="/books">Back</a>
</div>