/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

all{
  font-family: verdana, arial, helvetica, sans-serif;
}

body{
  margin:33px;
}

.top-title{
  font-size:26px;
  margin:17px 0;
}

.top-text{
  font-size:13px;
  margin:33px;
}

.top-link{
  font-size:13px;
  margin:33px;
  color: #666666;
}

label{
  font-size: 13px;
  display: block;
}

h2{
  margin:16px 0;
  font-size: 18px;
}

textarea{
  margin-bottom:10px;
}

.field{
  margin-bottom:10px;
}

table{
  margin:30px;
}

.link:link{
  text-decoration: none;
  color: black;
  border-bottom: solid 1px black;
}

.link:visited{
  text-decoration: none;
  color: gray;
  border-bottom: solid 1px gray;
}

.link:hover{
  text-decoration: none;
  color: white;
  background-color: black;
  border-bottom: solid 1px white;
}

a:link{
  text-decoration: none;
  color: black;
  border-bottom: solid 1px black;
}

a:visited{
  text-decoration: none;
  color: gray;
  border-bottom: solid 1px gray;
}

a:hover{
  text-decoration: none;
  color: white;
  background-color: black;
  border-bottom: solid 1px white;
}

thead{
  font-size: 13px;
}

.book-title{
  width:190px;
  padding: 1px 5px 7px 5px;
  font-size: 13px;
}

.book-body{
  width: 400px;
  padding:1px 5px 7px 5px;
  font-size: 13px;
}

.book-link{
  padding:1px 5px 7px 5px;
  font-size: 13px;
}

.show-text{
  margin:33px;
  font-size: 13px;
}

.show-link{
  font-size: 13px;
}

.edit-title{
  margin:15px 0 ;
}

.edit-field{
  margin-bottom: 10px;
}

.edit-action{
  margin-bottom: 10px;
}

.edit-link{
  font-size: 13px;
}